/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* End of reset */

body {
  background-image: url("./images/sky.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.current-info {
  margin: 1rem;
  height: 30vh;
  background-color: red;
}

.date-hour-info {
  margin: 1rem;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.hour-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightblue; /* Just for visual distinction */
  text-align: center;
  padding: 10px;
  flex: 1;
  height: fit-content;
}

.date-hour-info .hour-item img {
  height: 64px;
  width: auto;
}
